<div class="row">
	<div class="col-md-12">
		<div class="jumbotron text-center">
			<h1>ECTS</h1>
			<p>East Coast Training Services Database</p>
			<p><%= link_to 'Login &raquo;'.html_safe, new_user_session_path, :class => "btn btn-primary" %></p>
		</div>
	</div>
</div>