<h3>
  Course Events
  <span class="pull-right"><small><%= link_to '<span class="glyphicon glyphicon-plus"></span>'.html_safe, new_course_event_path(@course.id), { :class => 'btn btn-sm btn-default', :title => "New" } %></small></span>
</h3>
<hr>
<%= render :partial => "list", :locals => { :e => @course_events } %>