<%= form_for @course_event, url: events_path, :html => { :class => "form-horizontal", :role => "form" } do |f| %>
<h3>
	Course Event
	<span class="pull-right btn-group">
		<%= f.button :submit, { :class => "btn btn-sm btn-default", :title => "Create" } do 
			content_tag :span, nil, :class => "glyphicon glyphicon-ok"
			end %>
		<%= link_to '<span class="glyphicon glyphicon-remove"></span>'.html_safe, course_event_index_path(@course_event.master.code), { :class => "btn btn-sm btn-danger", :title => "Cancel" } %>
	</span>
</h3>
<hr>

<%= render 'form', f: f %>
<% end %>
